<!DOCTYPE html>
<html>

<head>
  <title>Player Stats</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
  <div class="container">
    <table id="statsTable">
      <thead>
        <tr>
          <th>Player</th>
          <th>CSPM</th>
          <th>GDPM</th>
          <th>DPM</th>
          <th>KDA</th>
          <th>KP%</th>
          <th>Vision Score</th>
        </tr>
      </thead>
      <tbody>
        <!-- Player stats will be dynamically added here -->
      </tbody>
    </table>
  </div>
  <script src="/static/js/script.js"></script>
</body>

</html>